/*
 * DOM element rendering detection
 * https://davidwalsh.name/detect-node-insertion
 */
 @keyframes chartjs-render-animation {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

html{
	font-family:"calibri";
}

.chartjs-render-monitor {
	animation: chartjs-render-animation 40.001s;
}

#lightGraph{
	/*width: 100%;
    margin-left: auto;
    margin-right: auto;*/
}

#numberOfPoints{
	width :36px;
}

#content{
	height:500px;
}

#toolbar{
	display:flex;
	padding:0px 5px 0px 5px;
}

#toolForm{
	margin: auto;
}

.tools{
	margin-left:10px;
}

input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

input{
	display:inline;
	/*margin-top:10px;*/
}

button {
	background-color: #073B4C;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius:0px;
  }

button:hover{
	opacity:0.8;
}

button:active{
	opacity:1;
}

#send{
	margin-right: 20px;
	margin-left: auto;
	display: inline;
	background-color: rgba(17, 138, 178, 1);
	/*margin-top: -24px;*/
}

#sub{
	background-color: rgba(17, 138, 178, 1);
	margin-top:10%;
	width:100%;
}

#help{
	margin-left:0px;
	display:inline;
}

label{
	display:inline-block;
}

#rangelab{
	width:110px;
}

div{
	margin-top:10px;
}

.wifiConfig{
	background-color: #FFF;
	color: #073B4C;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-style:solid;
	border-color: #073B4C;
	border-width: 2px;
	padding: 3% 3% 2% 3%;
	border-radius: 0px;
}

#changeWConf{
	display:none;
}

input[type=text], input[type=password] {
	border:none;
	border-bottom: 2px solid #073B4C;
	/*border-radius: 4px;*/
}

#ssid{
	border: 2px solid #073B4C;

}

#ssid:after{
	display:none;
}

option{
	background-color: rgba(17, 138, 178, 1);
	color: #FFF;
}

option:hover{
	background-color: rgba(17, 138, 178, 0.8);
	color: #FFF;
}

html{
	background-color: rgba(255, 255, 255, 0);
}

/*.range{
	-webkit-transform:rotate(180deg);
     -moz-transform:rotate(180deg);
     -o-transform:rotate(180deg);
     -ms-transform:rotate(180deg);
     transform:rotate(180deg); 
}*/